p {
  font-family: Lato;
}
.content {
  padding: 8px;
}
.ion-card-content {
  border-radius: 50px;
  background-color: aqua;
  margin: 8px 0px 8px;
}
.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px 8px 16px;
}
.margin-0 {
  margin: 0px;
}
.name-label {
  font-size: 12px;
  background-color: aqua;

}
.time-label {
  font-size: 10px;
  background-color: aqua;
}
.name-item {
  flex: 1;
  .item-inner {
    flex-direction: column !important;
    padding-inline-end: 0px;
  }
  .item-native {
    padding-inline-start: 0px !important;
  }
  .input-wrapper {
    align-items: flex-start !important;
  }
}
.price-item {
  --min-height: 0px;
  .item-inner {
    padding-inline-end: 0px !important;
  }
}
.price-label {
  background-color: aqua;
  font-size: 14px;
}
ion-item {
  border-style: none !important;
}
.date-label {
  font-size: 12px;
  padding-left: 16px;
  margin: 0px;
}
.content {
  justify-content: flex-start;
}
.red-font {
  color: red !important;
}
.green-font {
  color: green;
}